* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: "Iosevka Web", monospace;
  font-size: 125%;

  font-weight: 300;

  --purple: #672378;
  --gray: #666666;
  --lightgray: #eeeeee;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 175%;
}

a {
  color: var(--purple);
}

a:visited {
  color: var(--purple);
}

ul,
ol {
  list-style-position: inside;
}

@media screen and (min-width: 600px) {
  main {
    padding: 60px;
  }
}
