body {
  font-family: "Iosevka Web", monospace;
  padding: 0;
  margin: 0;
  font-size: 125%;

  font-weight: 300;

  --purple: #672378;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 175%;
}

a {
  color: var(--purple);
}

a:visited {
  color: var(--purple);
}
