@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/IosevkaWeb-LightItalic.woff2") format("woff2");
}

/* Post subtitle and figure caption, only italic */
@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/IosevkaWeb-MediumItalic.woff2") format("woff2");
}

/* Post and website title, no italic */
@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-Heavy.woff2") format("woff2");
}
