@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src:
    url("/fonts/WOFF2/Iosevka-Light.woff2") format("woff2"),
    url("/fonts/TTF/Iosevka-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src:
    url("/fonts/WOFF2/Iosevka-LightItalic.woff2") format("woff2"),
    url("/fonts/TTF/Iosevka-LightItalic.ttf") format("truetype");
}

/* Post subtitle and figure caption, only italic */
@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src:
    url("/fonts/WOFF2/Iosevka-MediumItalic.woff2") format("woff2"),
    url("/fonts/TTF/Iosevka-MediumItalic.ttf") format("truetype");
}

/* Post and website title, no italic */
@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src:
    url("/fonts/WOFF2/Iosevka-Heavy.woff2") format("woff2"),
    url("/fonts/TTF/Iosevka-Heavy.ttf") format("truetype");
}
