---
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = [
	{
		title: "Duck Hunt Development",
		url: "duck-hunt",
	},
	{
		title: "Soccer Robot Software",
		url: "thunderbots",
	},
];
---

<BaseLayout pageTitle="Blog Index | blog.nycrat.dev">
	<h1>blog.nycrat.dev</h1>
	<ul>
		{
			posts.map((info) => (
				<li>
					<a href={`/posts/${info.url}`}>{info.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
