---

---

<header>
  <h1><a href="/">blog.nycrat.dev</a></h1>
</header>

<style>
  header {
    padding: 24px;
    background: var(--purple);
    color: white;
  }

  a {
    color: white;
  }

  h1 {
    font-size: 175%;
  }
</style>
