---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <blockquote>{frontmatter.subtitle}</blockquote>
  <div>
    v{frontmatter.version} ({frontmatter.lastUpdated.slice(0, 10)})
    <br />
    Published {frontmatter.date.slice(0, 10)}
  </div>

  <slot />
</BaseLayout>

<style>
  h1 {
    font-weight: 900;
    font-size: 300%;
    line-height: 1;
  }

  div {
    font-style: italic;
    color: var(--gray);
  }

  blockquote {
    font-style: italic;
    font-weight: bold;
  }
</style>
